.bmi {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;

  h1 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 8px;
    font-weight: 300;
    color: rgb(125, 111, 196);
  }

  .wrapper {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .weight,
    .height,
    .result {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      user-select: none;

      .input-con {
        width: 100%;
        height: 4rem;
        text-align: center;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: row-reverse;

        input {
          height: 100%;
          border: none;
          outline: none;
          font-size: 1.5rem;
          text-align: center;
          flex: 9;
        }
        input:focus {
          outline: 1px solid rgb(124, 98, 255);
        }

        label {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 0;
          padding: 0 0.5rem;
          font-size: 1rem;
          opacity: 0.5;
          height: 100%;
        }
      }
    }

    .result {
      a {
        font-size: .8rem;
        opacity: .9;
      }
      .output-con {
        width: 100%;
        height: 4rem;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.5);
        color: rgb(125, 111, 196);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0.5rem 0;

        .copy-text-badge {
          font-weight: 400;
          font-size: 0.9rem;
          opacity: 0.7;
          letter-spacing: 1px;
        }

        .output {
          flex: 9;
          font-size: 2rem;
        }
        .button-reset {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 0;
          padding: 0 0.5rem;
          border: none;
          outline: none;
          font-size: 1rem;
          height: 100%;
          cursor: pointer;
          color: rgb(124, 98, 255);
          transition: 0.2s ease color;

          &:hover {
            color: rgb(43, 0, 255);
          }
        }
      }
    }
  }
}
